body {
    background-color: var(--tg-theme-secondary-bg-color);
}

.col-6 {
    padding: 0;
}

.wrapper {
    width: 100px;
    height: 100px;
    border: 7px solid var(--tg-theme-button-color);
    border-radius: 10px;
    position: relative;
}

.wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
}

.card {
    background-color: var(--tg-theme-bg-color);

    text-align: center;
    align-items: center;
    border: none !important;
    padding: 1px !important;
    min-height: 320px;
    max-height: 320px;

    margin-left: 10px;
    padding-top: 10px !important;
    overflow-x: hidden;
}

.d-grid.gap-2.col-12.mx-auto {
    width: 190px !important;
}

.card-body {
    background-color: var(--tg-theme-bg-color);
    text-align: center !important;
}

.card-title,
.card-price {
    min-height: 40px;
    max-height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    background-color: var(--tg-theme-bg-color);
}

.card-text {
    font-style: italic;
}

.form-control-plaintext {
    flex: 1 1 auto;
    width: 1%;
}

.card-title,
.card-text,
h1,
h2,
h3,
h4,
h5,
h6,
label,
tr {
    color: var(--tg-theme-text-color) !important;
}

.form-floating>label {
    color: #191919 !important;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.nav-item {
    cursor: pointer;
}

button.nav-link {
    background-color: var(--tg-theme-secondary-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
}

button.active {
    background-color: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
}

.input-group>h5 {
    text-align: right;
}

.quantity {
    display: none;
}

.btn-tg,
.bg-tg-color,
.tg-text-color,
.navbar-toggler-icon {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background-color: white !important;
    color: black !important;
}

.wrapper>.card-img-overlay {
    display: none;
}

.wrapper>.card-img-overlay:hover {
    display: block;
}

.like-button {
    position: absolute !important;
    z-index: 2;
}